* @avpavlo8

/backend/internal/auth/ @avpavlo8
/backend/internal/order/ @avpavlo8
/backend/internal/payment/ @avpavlo8
/backend/internal/integration/ @avpavlo8
/timeweb/migrations/ @avpavlo8
/.github/ @avpavlo8
